.lg-btn {
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.lg-btn:active {
  transform: scale(0.95);
}

.lg-effect {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  filter: url(#glass-distortion);
}

.lg-tint {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.08);
}
.btns .lg-tint {
  background: rgba(255, 255, 255, 0.04);
}
.lg-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  z-index: 0;
}

.lg-shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 0.5px 0.5px 2px rgba(255, 255, 255, 1),
    inset -0.5px -0.5px 2px rgba(255, 255, 255, 1);

  border-radius: 50%;

  mask-image: radial-gradient(circle at top left, black 25%, transparent 45%),
    radial-gradient(circle at bottom right, black 25%, transparent 45%);

  mask-composite: add;
  -webkit-mask-composite: source-over;
}

.lg-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
