.lg-btn {
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.15); */

  transition: transform 0.2s ease;
}

.lg-btn:active {
  transform: scale(0.95);
}

/* GLASS */
.lg-effect {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  filter: url(#glass-distortion);
}

/* TINT */
.lg-tint {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.08);
}
.btns .lg-tint {
  background: rgba(255, 255, 255, 0.04);
}
.lg-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;



  z-index: 0;
}

/* SHINE */
.lg-shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow:
  inset 0.5px 0.5px 2px rgba(255,255,255,1),
  inset -0.5px -0.5px 2px rgba(255,255,255,1);

  border-radius: 50%;

  mask-image:
  radial-gradient(
    circle at top left,
    black 25%,
    transparent 45%
  ),
  radial-gradient(
    circle at bottom right,
    black 25%,
    transparent 45%
  );


  mask-composite: add;
  -webkit-mask-composite: source-over;
}

/* CONTENT */
.lg-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.figma-glass-tooltip {
  width: 118px;
  min-height: 56px;
  padding: 8px 10px;

  border-radius: 8px;

  /* FILL */
  background: rgba(255, 255, 255, 0.10) !important;

  /* GLASS */
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);

  /* BORDER (FIGMA LINEAR GRADIENT) */
  border: 1px solid transparent;
  background-image:
    linear-gradient(
      rgba(255,255,255,0.10),
      rgba(255,255,255,0.10)
    ),
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.10),
      rgba(255,255,255,0.03)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;

  /* SHADOW */
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.35),
    inset 1px 1px 1px rgba(255,255,255,0.25);

  color: #ffffff;
}
