.lg-btn {
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.15); */

  transition: transform 0.2s ease;
}

.lg-btn:active {
  transform: scale(0.95);
}

/* GLASS */
.lg-effect {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  filter: url(#glass-distortion);
}

/* TINT */
.lg-tint {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.08);
}
.btns .lg-tint {
  background: rgba(255, 255, 255, 0.04);
}

/* SHINE */
.lg-shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.75),
    inset -1px -1px 1px rgba(0, 0, 0, 0.15);
}

/* CONTENT */
.lg-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
