.sidebar-lg-item {
  position: relative;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition: transform 0.2s ease;

  width: 197px;
  height: 38px;
  border-radius: 10px;

  --r: 10px;
  --eat: 4.5px;
}

.sidebar-lg-item:hover {
  transform: scale(1.02);
}

.sidebar-lg-item:active {
  transform: scale(0.98);
}

.sidebar-lg-effect {
  position: absolute;
  inset: 0;
  border-radius: inherit;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.sidebar-lg-tint {
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: rgba(255, 255, 255, 0.08);
}

.sidebar-lg-content {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  width: 100%;
  height: 100%;
}
.glass-btn {
  position: relative;
  border-radius: 10px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px);
  color: white;
}

.glass-border {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    45deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.3) 80%,
    transparent 100%
  );

  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);

  mask-composite: exclude;
  -webkit-mask-composite: xor;

  padding: 1px;
}
.btn-glass-bg {
  background: rgba(255, 255, 255, 0.08);
}
.bg-line {
  background: #ffffff;
  width: 0.4px;
  filter: blur(0.9px);
}
.side-bg {
  background: linear-gradient(
    99.89deg,
    rgba(255, 255, 255, 0) 2.49%,
    #7751de 31.59%,
    #9c78ff 67.14%
  );
}
