@import "tailwindcss";
@import "./assets/style/sidebar.css";
@import "./assets/style/topnav.css";
@import "./assets/style/dashboard.css";
@import "./assets/style/liquad.css";
@import "./assets/style/btn-glas.css";

@theme {
  --color-gray-700: #272530;
  --color-white-100: #fdfcff;
  --color-white-70: #ffffffb2;
  --color-black-900: #070712;
  --color-black-100: #1b1b23;
  --color-primary: #8365ff;
  --color-primary-hover: #7350e6;
  --color-primary-rgb: 131 101 255;
  --color-success: #07b78a;
  --color-warning: #ab8213;
  --color-bg-dark: #1a1a1a;
  --color-red-light: #e91a1d1a;
  --color-red-light-hover: #e91a1d2a;
  --color-green-light: #18d04b1a;
  --color-green-light-hover: #18d04b2a;
  --color-bg-base: #0f0f0f;
  --color-bg-hover: #252525;
}

body {
  margin: 0;
  padding: 0;
  background-color: #070712;
  color: #ffffff;
  font-family: "Manrope", "Nunito Sans", sans-serif;
}



/* ===== GLASS TOOLTIP (MATCH DROPDOWN STYLE) ===== */

.tooltip-lg {
  position: relative;
  pointer-events: none;

  min-width: 120px;
  padding: 8px 10px;
  border-radius: 8px;

  background: transparent;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.25),
    0 0 10px rgba(0, 0, 0, 0.15);
}

/* blur layer */
.tooltip-lg-effect {
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  z-index: 0;
}

/* tint layer (same as dropdown) */
.tooltip-lg-tint {
  position: absolute;
  inset: 0;
  background: rgba(192, 190, 199, 0.08);
  border-radius: 8px;
  z-index: 0;
}

/* shine layer */
.tooltip-lg-shine {
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow:
    inset 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 0;
}

/* content */
.tooltip-lg-content {
  position: relative;
  z-index: 1;
}

.tooltip-lg-label {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 2px;
}

.tooltip-lg-value {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
